<div class="phx-hero">
    <h1>Users: </h1>
    <ul>
        <%= for userId <- 0..length(User.Repo.all(User.User))-1 do %>
            <li><%= link(Enum.at(User.Repo.all(User.User), userId).name, to: "/users/#{userId}")%></li>
        <% end %>

        <p><%= link("Go back", to: "/") %></p>
        <p><%= link("Create user", to: "/users/new") %></p>
    </ul>
</div>
