<div class="phx-hero">
    <%= if @id < length(User.Repo.all(User.User)) do %>
        <h2>User name: <b> <%= Enum.at(User.Repo.all(User.User), @id).name %> </b></h2>
    <% else %>
        <h2>This user not exist</h2>
    <% end %>
</div>
