<div class="phx-hero">

    <h1>Simple Clients API</h1>
    <ul>
        <li><a href="http://127.0.0.1:4000/api/clients/1">Miguel(example)</a></li>
    </ul>
    <h3><a href="http://127.0.0.1:4000/api/clients/new">New client</a></h3>

</div>
